body {
    position: relative;
    padding-top: 50px;
    background-color: #fff;
}

.navbar-fixed-top .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
    text-decoration: none;
}

.presentation dl {
    margin-top: 50px;
}

.main_row {
    margin-bottom: 60px;
    margin-top: 60px;
}

.bs-icon {
    float: left;
        margin: 7px 10px 0 0;
	    }
.footer {
    margin-top: 15px;
    padding: 10px 0 10px;
    border-top: 1px solid #e5e5e5;
}
.footer p {
    margin-bottom: 0;
    color: #555;
}
